@{ 
	ViewData["Title"] = "Knowledge Base";
}

<h4>Knowledge Base</h4>
<br /><br /><br /><br />
<div class="row">
	<div class="col-4" style="text-align:center">
		<a class="text-dark" asp-area="" asp-controller="DrugLabelAnnotations" asp-action="Index"><img src="~/Images/DrugLabelAnnotations.png">Drug Label Annotations</a>
	</div>
	<div class="col-4" style="text-align:center">
		<a class="text-dark" asp-area="" asp-controller="ClinicalGuidelineAnnotations" asp-action="Index"><img src="~/Images/ClinicalGuidelineAnnotations.png" />Clinical Guideline Annotations</a>
	</div>
	<div class="col-4" style="text-align:center">
		<a class="text-dark" asp-area="" asp-controller="AnnotatedDrugs" asp-action="Index"><img src="~/Images/AnnotatedDrugs.png" />Annotated Drugs</a>
	</div>
</div>
