@{ ViewData["Title"] = "Matching"; }
<h4>Matching</h4>
<br /><br /><br />
<div class="row">
	<div class="col-3">
	</div>
	<div class="col-3">
		<h5>Annovar Output</h5>
		<br /><br /><br />
		<input type="file" name="Annovar">
	</div>
	<div class="col-3" style="text-align:center">
		<br /><br />
		<button type="submit" class="btn btn-primary">Upload</button>
	</div>
	<div class="col-3">
	</div>
</div>