@{
    ViewData["Title"] = "About Us";
}
<h4>About Us</h4>
<p>DST2 - Group2</p>
<div class="row">
	<div class="col-6">
		<p><img src="~/Images/cpw.jpg" height="100" width="100" />Pengwei Chen - Website Design</p>
		<p><img src="~/Images/wjc.jpg" height="100" width="100" />Jiachuan Wang - Database Design</p>
		<p><img src="~/Images/wky.jpg" height="100" width="100" />Keying Wang - Sequence analysis</p>
	</div>
	<div class="col-6">
		<p><img src="~/Images/yly.jpg" height="100" width="100" />Lingyuan Ye - Test</p>
		<p><img src="~/Images/cjk.jpg" height="100" width="100" />Jingkai Chen - Documentation</p>
	</div>
</div>