@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align:center">
    <h2>Welcome to Precision Medicine Matching System!</h2>
    <br />
	<p>Start your journey by uploading an Annovar output in "Matching" section or explore a Knowledge Base from PharmGKB in "Knowledge Base" section.</p>
</div>
