@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align:center">
    <br />
    <h2>Welcome to Precision Medicine Matching System!</h2>
    <br /><br />
	<p>Start your journey by uploading an Annovar output in the "Matching" section or exploring the Knowledge Base from PharmGKB in the "Knowledge Base" section.</p>
</div>
